<div class="page">
    <div class="box">FAQ</div>
    <div class="content" >
      <div class="text_center">
         <div>
                <div class="form-group">
                    <h2>1.What is Home Loan?</h2>
                    <p>Home Loan is a secured loan given by a bank against the security
                       /hypothecation of an underlying property. In the event of failure to repay by the borrower, 
                       the bank can, subject to laws of India, attach/sell the underlying property and recover the 
                       principal amount and any outstanding interest thereon. A home loan can be availed for buying 
                       an under-construction property, resale property or even to construct a house on a vacant piece 
                       of land.
                    </p>                  
                </div>
                <div class="form-group">
                    <h2>2.What is the Eligibility Criteria for a Home Loan?</h2>
                    <p>Anyone — whether self-employed or salaried individuals/professionals — with a regular 
                        source of income can apply for home loans. One must be at least 21 years old when the 
                        loan period begins and should not exceed an age of 65 years when the loan ends or at the 
                        time of superannuation. 
                    </p>                  
                </div>
                <div class="form-group">
                    <h2>3.Why should I apply for a home loan on Dream Home?</h2>
                    <p>1.Dream House provides a hassle-free user-friendly online platform to the users through which they can 
                       apply for loans. <br>
                       2.Keep a track of the status and record during the entire process of the loan term without visiting any bank branch.<br>
                       3.Dream House increases customer retention and simplifies loan and EMI management. <br>
                       4.Customers can view available services, policies, benefits and other information related to a loan. <br>
                    </p>                  
                </div>
                <div class="form-group">
                    <h2>4.When can I make a home loan application?</h2>
                    <p>You can apply for a Home Loan at any time once you have decided
                        to purchase or construct a property, even if you have not selected
                        the property or the construction has not commenced.
                    </p>                  
                </div>
                <div class="form-group">
                    <h2>5.How is my Loan elegibility is calculated?</h2>
                    <p>Loan eligibility is dependent on primarily the following factors:<br />
                        1.Cumulative net monthly salary of the applicant .<br />
                        2.Quantum of loans and credit card outstanding that you already have. 
                        Bank will not give a loan if the total EMI obligation (including the current home loan 
                        that your are trying to apply for) exceeds 60% of your total net take home salary.
                    </p>
             
                </div>
                <div class="form-group">
                    <h2>6.What is process to apply loan?</h2>
                    <p>First of all, you need to submit your application which will be evaluated on certain parameters 
                        depending on loan type. Property valuation and title check follow. Then, if the application is 
                        accepted, you need to submit all the documents aforementioned.
                    </p>
           
                </div>
                <div class="form-group">
                    <h2>7.How does it take to disburse Home Loan?</h2>
                    <p>Dream Home will work with the banks to try and get you the loan within 7 to 15 
                        working days of submitting completed documents.
                    </p>
               
                </div>
                <div class="form-group">
                    <h2>8.What is an EMI?</h2>
                    <p>EMI or Equated Monthly Instalment is a fixed amount paid by you to the bank on a 
                        specific date every month. The EMI's are fixed when you borrow money from the bank as a loan. 
                        EMI's are used to pay both interest and principal amount of a loan in a way that over a specific 
                        number of years, the loan amount is repaid to the bank alongwith interest.
                    </p>
                </div>
                <div class="form-group">
                    <h2>9.Document required while applying for a loan.</h2>
                    <p>1.Identity proof (PAN card)<br />
                       2.Residence proof<br />
                       3.Last 3 months salary slip<br />
                       4.Last 6 months bank statement<br />
                       5. Passport sized photograph<br />
                       6.Form 16<br />
                       7.Property documents<br />
                       8.Receipts for initial down payment<br />
                       These are indicative list and more documents can be required depending on the bank.
                    </p>
             
                </div>
                <div class="form-group">
                    <h2>10.What security will the bank take for me?</h2>
                    <p>The bank's security will comprise the land or property against which the loan is sought. 
                        The property should be available for the mortgage. 
                        If not, then an interim security will be sought.
                    </p>
                </div>
                
         </div>
      </div>
  </div>   
</div>
  
