<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

    <div id="logreg-forms">
    <form [formGroup]="loginform" class="form-signin">

        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
        <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Username" required minlength="8" formControlName="userId">

        <div *ngIf="!name?.valid && (name?.dirty ||name?.touched)" style="color: red;">
            <div *ngIf="name?.errors?.required">
                *Username is Mandatory
            </div>
            
        </div>
        <input name="password" [type]="kind" id="inputPassword" class="form-control" placeholder="Password" required formControlName="userPass" >
        <div *ngIf="!pass?.valid && (pass?.dirty ||pass?.touched)">
            <div *ngIf="pass?.errors?.required" style="color: red;">
                *Password is Mandatory
            </div>
           
        </div>
        <div>
        <input id="showInput" type="checkbox" name="showPassword" (click)="ShowHide()"/>
        <label id="showLabel" for="showPassword">Show Password</label>
        </div>
        <button class="btn btn-success btn-block" type="submit" (click)="Login()" [disabled]="!loginform.valid"><i class="fas fa-sign-in-alt"></i> Sign in</button>
        <button class="btn btn-success btn-block" (click)="AdminLogin()" [disabled]="!loginform.valid"><i class="fas fa-sign-in-alt"></i> Admin Sign in</button>
        <a href="#" id="forgot_pswd">Forgot password?</a>
        <hr>
        <!-- <p>Don't have an account!</p>  -->
        <button class="btn btn-primary btn-block" type="button" id="btn-signup"><a href="Register" style="color: antiquewhite;"><i class="fas fa-user-plus"></i> New Account</a></button>
    
    
    </form>
    </div>

