<div class="main">
    <div class="content-about-us"> 
        <h1>About Us</h1>
       <p>Dream Home is a leading provider of Housing Finance in India. With our customised solutions we have fulfilled over a thousand dreams since inception</p> 
    </div>
    <div class="content-our-exp">
        <h2>Our Experience</h2>
        <div class="exp">
            <p><i class="fas fa-check-circle"></i>Leading Housing Finance in 2000.</p>
            <p><i class="fas fa-check-circle"></i>Cumulative housing unit financed: 5 million</p>
            <p><i class="fas fa-check-circle"></i>Gross loans stood at {{3 | currency:'INR'}} trillion</p>
            <p><i class="fas fa-check-circle"></i>About 1 million Deposits Accounts</p>
        </div>
    </div>
    <div class="content-our-beliefs">
        <h2>Our Core Values</h2>
        <div><i class="far fa-handshake"></i><span>Trust</span></div>
        <div><i class="fas fa-user-friends"></i><span>Integrity</span></div>  
        <div><i class="fas fa-medal"></i><span>Professional Service</span></div>
    </div>
</div>
