
<div class="page">
    <div class="box">Login Details</div>
    <div class="content" >
      <div class="text_center">
         <div >
            <h1>Change Password</h1>
            <form [formGroup]="userloginsForm" (ngSubmit)="submitForm()" >
                 <div class="form-group">
                    <label>Old Password</label>
                    <input type="text" required formControlName="oldPwd" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    <div *ngIf="!pa?.valid && (pa?.dirty || pa?.touched)">
                     <div *ngIf="pa?.errors?.required" style="color: red;">
                       *Old Password is mandatory
                     </div>
                     
                   </div>
                  </div>
                  <div class="form-group">
                    <label>New Password</label>
                    <input type="text" required formControlName="userPass"  class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"> 
                    <div *ngIf="!pas?.valid && (pas?.dirty || pas?.touched)">
                     <div *ngIf="pas?.errors?.required" style="color: red;">
                       *Password is mandatory
                     </div>
                     <div *ngIf="pas?.errors?.pattern" style="color: red;">
                      *Password Must contain at least one number one Uppercase and lowercase letter, and at least 8 or more characters
                      </div>
                   </div>
                  </div>
                
                    <label>Confirm New Password</label>
                    <input type="text" required formControlName="confirmPwd" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    <div *ngIf="!cp?.valid && (cp?.dirty || cp?.touched)">
                     <div *ngIf="cp?.errors?.required"style="color:red;">
                       Confirm Password is mandatory
                     </div> 
                     <div *ngIf="!(cp?.value=== pas?.value )">
                      Password doesn't match
                    </div>
                   </div>
                   

             
                <button class="edit" type="submit">Submit</button>
            </form>
         </div>
      </div>
  </div>   
</div>
  
