<!--<div *ngIf= "status">-->
  <div class="row"> 
    <div class="col-md-12 col-md-offset-3">
        <form [formGroup]="addUserForm" id="msform" >
            <!-- progressbar -->
            <ul id="progressbar">
                <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Income Details</li>
                <li [ngClass]="step>=2 ? 'active' : 'inactive'">Loan Details</li>
                <li [ngClass]="step>=3 ? 'active' : 'inactive'">Personal Details</li>
                <li [ngClass]="step==4 ? 'active' : 'inactive'">Upload Documnets</li>
          
            </ul>
          
              <!-- fieldsets -->
  
            <fieldset formGroupName="incomedetailsForm" *ngIf="step == 1" >
                <h2 class="fs-title">Income Details</h2>
                <input type="text" name="propertyLocation" formControlName="propertyLocation"  placeholder="Property Location"  />
                <div *ngIf="!pl?.valid && (pl?.dirty || pl?.touched)">
                  <div *ngIf="pl?.errors?.required"  style="color: red;">
                    Property Location is mandatory
                  </div>
                  
                </div>

                <input type="text" formControlName="propertyName" name="propertyName" placeholder="Property Name" pattern="[a-zA-Z][a-zA-Z ]+"/>
                <div *ngIf="!pn?.valid && (pn?.dirty || pn?.touched)">
                  <div *ngIf="pn?.errors?.required"  style="color: red;">
                    Property Name is mandatory
                  </div>
                  <div *ngIf="pn?.errors?.pattern" style="color: red;">
                    *Property Name Must contain all alphabet
                  </div>
                </div>

                <input type="number" formControlName="estimatedAmount" name="estimatedAmount" placeholder="Estimated Amount" pattern="^[0-9]*$"/>
                <div *ngIf="!ea?.valid && (ea?.dirty || ea?.touched)">
                  <div *ngIf="ea?.errors?.required"  style="color: red;">
                    Estimated Amount is mandatory
                  </div>
                  <div *ngIf="ea?.errors?.pattern" style="color: red;">
                    *Estimated Amount must be numeric
                </div>
                </div>
                <div  style="border: 1px solid rgb(199, 193, 193) ; margin-bottom: 10px;">
                   <p style="margin-left: 15px;">Select Type of Employment</p>
                   <div class="center" style="margin-left: -20px; ">
                     <input type="radio" class="type" id="sal" formControlName="typeOfEmployment" value="Salaried"/><label for="sal">Salaried</label>
              
                     <input type="radio" class="type" id="self" formControlName="typeOfEmployment" value="SelfEmployed"/><label for="self">Self Employed</label>
                    </div>
                </div>
                

                <!-- <select value="typeOfEmployment" name="typeOfEmployment" formControlName="typeOfEmployment">
                  <option value="typeOfEmployment" selected >Select Type of Employment</option>
                  <option value="Salaried">Salaried</option>
                  <option value="SelfEmployed">Self Employed</option>
                </select>
                <div *ngIf="!toe?.valid && (toe?.dirty || toe?.touched)">
                  <div *ngIf="toe?.errors?.required">
                    Type Of Employment is mandatory
                 </div>
                </div> -->
               
               <input type="number" formControlName="retirementAge" name="retirementAge" placeholder="Retirement age"/>
               <div *ngIf="!ra?.valid && (ra?.dirty || ra?.touched)">
                 <div *ngIf="ra?.errors?.required"  style="color: red;">
                  Retirement Age is mandatory
                 </div>
               </div>

               <input type="text" formControlName="organizationType" name="organizationType" placeholder="Organization Type" pattern="[a-zA-Z][a-zA-Z ]+"/>
               <div *ngIf="!ot?.valid && (ot?.dirty || ot?.touched)">
                 <div *ngIf="ot?.errors?.required" style="color: red;">
                  Organization Type is mandatory
                 </div>
                 <div *ngIf="ot?.errors?.pattern" style="color: red;">
                  *Organization Type Must contain all alphabet
                </div>
               </div>
               <input type="text" formControlName="employerName" name="employerName" placeholder="Employer Name" pattern="[a-zA-Z][a-zA-Z ]+"/>
               <div *ngIf="!en?.valid && (en?.dirty || en?.touched)">
                 <div *ngIf="en?.errors?.required" style="color: red;">
                  Employer Name is mandatory
                 </div>
                 <div *ngIf="en?.errors?.pattern" style="color: red;">
                  *Employer Name Must contain all alphabet
                </div>
               </div>

               <input type="number" formControlName="monthlyIncome" name="monthlyIncome" placeholder="Monthly Income"/>
               <div *ngIf="!mi?.valid && (mi?.dirty || mi?.touched)">
                 <div *ngIf="mi?.errors?.required"style="color: red;">
                  Monthly Income is mandatory
                 </div>
               </div>
               <input (click)="next()" type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>


            <!--LOAN DETAIL-->


            <fieldset formGroupName="loandetailsForm" *ngIf="step == 2" >
                <h2 class="fs-title">Loan Details</h2>
                <input type="number" formControlName="maxLoanAmountGrantable"  placeholder="Max Loan Amount Grantable" readonly [(ngModel)]="maxLoan"/>
        

                <input type="number" formControlName="interestRate"  placeholder="Interest Rate" readonly [(ngModel)]="ROI"/>

                <input type="number" formControlName="tenure"  placeholder="Tenure" [(ngModel)]="duration" (ngModelChange)="changeroi()"/>
                <div *ngIf="!te?.valid && (te?.dirty || te?.touched)">
                  <div *ngIf="te?.errors?.required" style="color: red;">
                    Tenure is mandatory
                  </div>
                </div>

                <input type="number" formControlName="loanAmount"  placeholder="Loan Amount"/>
                <div *ngIf="!la?.valid && (la?.dirty || la?.touched)">
                  <div *ngIf="la?.errors?.required" style="color: red;">
                    Loan Amount is mandatory
                  </div>
                </div>
  
                <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input  (click)="next()" type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
        <!--personal detail-->
            <fieldset formGroupName="personaldetailsForm" *ngIf="step == 3">
                <h2 class="fs-title">Personal Details</h2>
                <input type="text" formControlName="firstName" placeholder="First Name" pattern="[a-zA-Z][a-zA-Z ]+"/>
                <div *ngIf="!fn?.valid && (fn?.dirty || fn?.touched)">
                  <div *ngIf="fn?.errors?.required" style="color: red;">
                    First Name is mandatory
                  </div>
                  <div *ngIf="fn?.errors?.pattern" style="color: red;">
                    *First Name Must contain all alphabet
                  </div>
                </div>
              
                <input type="text" formControlName="middleName"  placeholder="Middle Name" pattern="[a-zA-Z][a-zA-Z ]+"/>
                <div *ngIf="!mn?.valid && (mn?.dirty || mn?.touched)">
                  <div *ngIf="mn?.errors?.required" style="color: red;">
                    Middle Name is mandatory
                  </div>
                  <div *ngIf="mn?.errors?.pattern" style="color: red;">
                    *Middle Name Must contain all alphabet
                  </div>
                </div>
             
                <input type="text" formControlName="lastName" placeholder="Last Name" pattern="[a-zA-Z][a-zA-Z ]+"/>
                <div *ngIf="!ln?.valid && (ln?.dirty || ln?.touched)">
                  <div *ngIf="ln?.errors?.required" style="color: red;">
                    Last Name is mandatory
                  </div>
                  <div *ngIf="ln?.errors?.pattern" style="color: red;">
                    *Last Name Must contain all alphabet
                  </div>
                </div>
             
                <input type="text" formControlName="emailId" placeholder="Email ID"/>
                <div *ngIf="!ei?.valid && (ei?.dirty || ei?.touched)">
                  <div *ngIf="ei?.errors?.required" style="color: red;">
                    Email Id is mandatory
                  </div>
                </div>
             
                <input type="text" formControlName="password" placeholder="Password"/>
                <div *ngIf="!pas?.valid && (pas?.dirty || pas?.touched)">
                  <div *ngIf="pas?.errors?.required" style="color: red;">
                    Password is mandatory
                  </div>
                </div>
             
                <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"/>
                <div *ngIf="!cp?.valid && (cp?.dirty || cp?.touched)">
                  <div *ngIf="cp?.errors?.required" style="color: red;">
                    Confirm Password is mandatory
                  </div> 
                </div>
                <div *ngIf="!(cp.value=== pas.value) && (cp?.dirty || cp?.touched)" style="color: red;">
                  Password doesn't match
                </div>
    
                <input type="text" formControlName="phoneNumber" placeholder="Phone Number" pattern="^[0-9]*$"/>
                <div *ngIf="!ph?.valid && (ph?.dirty || ph?.touched)">
                  <div *ngIf="ph?.errors?.required" style="color: red;">
                    Phone Number is mandatory
                  </div>
                  <div *ngIf="ph?.errors?.pattern" style="color: red;" >
                    *Phone Number must contain all numeric value
                </div>
                </div>
             
                <input type="date" formControlName="dateOfBirth" placeholder="Date of Birth"/>
                <div *ngIf="!dob?.valid && (dob?.dirty || dob?.touched)" style="color: red;">
                  <div *ngIf="dob?.errors?.required">
                    Date Of Birth is mandatory
                  </div>
                </div>

                <div  style="border: 1px solid rgb(199, 193, 193) ; margin-bottom: 10px;">
                  <p style="margin-left: 15px;">Gender</p>
                  <div class="center" style="margin-left: -10px; ">
                    <input type="radio" class="type" id="male" formControlName="gender" value="Male"/><label for="male">Male</label>
                    <input type="radio" class="type" id="female" formControlName="gender" value="Female"/><label for="female">Female</label>
                    <input type="radio" class="type" id="others" formControlName="gender" value="Others"/><label for="others">Others</label>
                   </div>
               </div>
             
                <!-- <input type="text" formControlName="gender" placeholder="Gender"/>
                <div *ngIf="!ge?.valid && (la?.dirty || ge?.touched)">
                  <div *ngIf="ge?.errors?.required">
                    Gender is mandatory
                  </div>
                </div> -->
             
                <input type="text" formControlName="nationality" placeholder="Nationality" pattern="[a-zA-Z][a-zA-Z ]+"/>
                <div *ngIf="!na?.valid && (na?.dirty || na?.touched)">
                  <div *ngIf="na?.errors?.required" style="color: red;">
                    Nationality is mandatory
                  </div>
                  <div *ngIf="na?.errors?.pattern" style="color: red;">
                    *Narionality Must contain all alphabet
                  </div>
                </div>
             
                <input type="text" formControlName="aadharNo" placeholder="Aadhar No" pattern="^[0-9]*$"/>
                <div *ngIf="!an?.valid && (an?.dirty || an?.touched)">
                  <div *ngIf="an?.errors?.required" style="color: red;">
                    Aadhar Number is mandatory
                  </div>
                  <div *ngIf="an?.errors?.pattern" style="color: red;">
                    *Aadhar Number must be numeric
                </div>
                </div>
             
                <input type="text" formControlName="panNo" placeholder="Pan No"/>
                <div *ngIf="!pan?.valid && (pan?.dirty || pan?.touched)">
                  <div *ngIf="pan?.errors?.required" style="color: red;">
                    PAN Number is mandatory
                  </div>
                </div>
             
                <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input  (click)="next()" type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
        
          <fieldset *ngIf="step == 4">
              <h2 class="fs-title">Upload Documnets</h2>
              <input type="button" class="upload-btn" value="Upload Pan Card"/>
            
              <input type="button" class="upload-btn" value="Upload Voter Id"/>
           
              <input type="button" class="upload-btn" value="Upload Salary Slip"/>
           
              <input type="button" class="upload-btn" value="Upload LOA"/>
           
              <input type="button" class="upload-btn" value="Upload NOC from Builder"/>
  
              <input type="button" class="upload-btn" value="Upload Agreement To Sale"/>
           
              <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
            
              <input (click)="submitForm()" type="submit" name="submit" class="submitForm action-button" value="Submit"/>
            </fieldset>
            
        </form>     
    </div>
  </div>

<!--</div>-->
