    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
		<h1>Contact Us</h1>
		<h4 style="text-align:center">We'd love to hear from you!</h4>
    <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Mahape Road</div>
          <div class="text-two">Navi Mumbai, Maharashtra</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+0987 9987 789</div>
          <div class="text-two">+0788 3434 343</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">dreamhome@gmail.com</div>
          <div class="text-two">info.dreamhome@gmail.com</div>
        </div>
        </div>
    </div>
    </div>