<div class="page">
    <div class="box">Login Details</div>
    <div class="content" >
      <div class="text_center">
         <div>
            <h2>Login Details</h2>
            <hr>
            <table cellpadding = "10">
        <thead>    
              <tr>
               <th>User ID</th>
               <th>User Name</th> 
               <th>Email ID</th>
               <th>Phone Number</th>
               <th>Date OF Registration</th>
               <th></th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let u of user">
               
               <td>{{u.userId}}</td>
               <td>{{u.uName}}</td>
               <td>{{u.email}}</td>
               <td>{{u.phone}}</td>
               <td>{{u.dateOfReg}}</td>
               <td>
                  <button class="edit" [routerLink]="['/update/',u.userId]">Edit details</button>  
                  <button class="edit" [routerLink]="['/updatecp/',u.userId]">Change Password</button>  
    
               </td>
           </tr>
           
       </tbody>
         </table>
         </div>
      </div>
  </div>   
</div>
  
